<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <meta name="description" content=""/>
    <meta name="keywords" content="bootstrap, bootstrap5"/>

    {% include '_static_head.html' %}

    <title>{% block title %}Drav Architecture{% endblock %}</title>
</head>
<body>

{% block content %}{% endblock %}
{% include 'footer.html' %}

{% include '_static_scripts.html' %}
</body>
</html>
